@import './variables'
@import './mixins'

input:-webkit-autofill
  -webkit-box-shadow: inset 0 0 0 50px #fff !important
  -webkit-text-fill-color: #000 !important
  color: #000 !important



.dashboard-page // main dashboard container
  width: 100%
  height: 100vh
  overflow: hidden
  display: flex

.dashboard-content
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  background: $greyBg
  padding-bottom: 30px
  &.white-bg
    background: $white
  a
    text-decoration: none
